@media (min-width: 320px)and (max-width: 543px){
	.header_top .left{
		width: 80%;
		margin: 0 auto;
	}
	.header_top .socialicons{
		float: left;
		margin-left: 8%;
	}
	.header .nav{
		display: none;
	}
	.header .logo{
		width: 100%;
		text-align: center;
	}
	
}

@media (min-width: 544px)and (max-width: 767px){
	.header_top .left{
		width: 80%;
		margin: 0 auto;
	}
	.header_top .socialicons{
		float: left;
		margin-left: 8%;
	}
	.header .nav{
		display: none;
	}
	.header .logo{
		width: 100%;
		text-align: center;
	}

	
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 991px){

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){

}